@font-face {
    font-family: dripping;
    src: url(fonts/dripping.ttf);
}

html {
    background-image: url(images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

* {
    margin: auto;
    padding: 0px;
}

nav {
    background-color: rgba(255, 255, 255, 0.4);
    /*    opacity: .4; */
    margin: 2vh 0px;
    padding: 20px;
}

.logo {
    display: block;
    margin: auto;
}

nav a {
    width: 33%;
    display: flex;
    margin: auto;
    display: inline-block;
    text-align: center;
    font-size: 250%;
    color: white;
    font-family: dripping;
    text-decoration: none;
}

section {
    display: flex;
    width: 80%;
    margin: 5vh auto;
}

.left {
    width: 15%;
    background-color: rgba(255,255,255,0.5);
    padding: 1vh 1.5%;
}

.right {
    width: 60%;
}

.right ul {
    width: 100%;
    display: flex;
}

.right li {
    width: 35%;
    margin: 5%;
    padding: 5%;
    background-color: rgba(255,255,255,0.5);
}

.right li img {
    width: 100%;
}

h1 { 
    color: black;
}
