html {
    background-image: url(images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

* {
    margin: auto;
    padding: 0px;
}

nav {
    background-color: rgba(255, 255, 255, 0.4);
    /*    opacity: .4; */
    margin: 2vh 0px;
    padding: 20px;

}

.logo {
    display: block;
    margin: auto;
}

nav a {
    width: 33%;
    display: flex;
    margin: auto;
    display: inline-block;
    text-align: center;
    font-size: 200%;
}
